# Зависимости
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

**/dist/
**/build/
**/.vite/
**/coverage/

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.dockerignore
**/data/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 